[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DSMolgenisArmadillo"]
	path = DSMolgenisArmadillo
	url = https://github.com/molgenis/molgenis-r-datashield
[submodule "MolgenisArmadillo"]
	path = MolgenisArmadillo
	url = https://github.com/molgenis/molgenis-r-armadillo
[submodule "MolgenisAuth"]
	path = MolgenisAuth
	url = https://github.com/molgenis/molgenis-r-auth
