[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "MolgenisArmadillo"]
	path = MolgenisArmadillo
	url = https://github.com/molgenis/molgenis-r-armadillo
	shallow = true
	registered = true
[submodule "MolgenisAuth"]
	path = MolgenisAuth
	url = https://github.com/molgenis/molgenis-r-auth
	shallow = true
	registered = true
